.vbox {
    -fx-border-color: grey;
    -fx-border-width: 0.4;
    -fx-border-radius: 3;
    -fx-background-color: white;
}
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
